= form_for [spina, :admin, @article], html: { autocomplete: "off" } do |f|
  - content_for :notification_alert do
    = error_explanation!(@article)

  #page_content.tab-content.active
    .table-container
      %table.table.table-form
        %tr
          %td
            Title
          %td
            = f.text_field :title
        %tr
          %td
            Subtitle
          %td
            = f.text_field :subtitle
        %tr
          %td
            Content
          %td
            = render 'spina/admin/shared/rich_text_field', form: f, field: :content
        %tr
          %td
            SEO title
          %td
            = f.text_field :seo_title
        %tr
          %td
            Meta description
          %td
            = f.text_field :meta_description
        %tr
          %td
            Header photo
          %td
            = f.file_field :header_photo, accept: 'image/png,image/gif,image/jpeg'
        %tr
          %td
            Select category
          %td
            = f.collection_select :spina_category_id, Spina::Category.all, :id, :title, prompt: true
        %tr
          %td
            Publish date
          %td
            = f.text_field :publish_date, value: (@article.publish_date.strftime("%d-%m-%Y") unless @article.new_record?), class: 'datepicker'
        %tr
          %td
            Draft?
          %td
            = f.check_box :draft, data: { switch: true }

  %button.button.button-primary{ type: 'submit', data: { icon: 'o' } }
    Save article

  = link_to "Cancel", spina.admin_articles_path, class: 'button button-link'

  - unless @article.new_record?
    .pull-right= link_to "Delete", spina.admin_article_path(@article), method: :delete, data: {confirm: "Are you sure you want to remove this article?"}, class: 'button button-link button-danger'
